<div class="portada-favorita ">
    <img src="./../../../assets/netflix.jpg" class="" alt="">
</div>
<div class="content">
    <p class="text" href="">NETFLIX</p>
    <p class="parrafo">Netflix es un <a class="resaltar" href="https://help.netflix.com/es/node/85"> servicio de streaming </a>por suscripción que les permite a sus miembros ver series y películas en un dispositivo con conexión a internet.  <br> <br>  

        En función del plan que tengas, también puedes <a class="resaltar" href="https://help.netflix.com/es/node/54816"> descargar series y películas </a>en un dispositivo con iOS, Android, o Windows 10 y verlas sin conexión a internet. <br> <br>
        
        Si ya eres miembro y quieres saber más acerca de cómo usar Netflix, <a href="https://help.netflix.com/es/node/102377" class="resaltar"> visita Cómo usar Netflix.</a>
    </p>
</div>