
.content{
   width: 900px;
   height: 300px;
   position: relative;
   left: 33%;
   right: 33%;
   top:  450px;

   display: flex;
   justify-content: center;
   align-items: center;
   cursor: default;
   flex-direction: column;
}
.text{
    font-size: xx-large;
    color: #e50914;
    text-decoration-line: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.btn{
    background-color: #e50914;
    color: #ffff;
    font-size: larger;
}

@media ( max-width: 2000px){
    .content{
        width: 900px;
        height: 300px;
        position: relative;
        left: 22%;
        top:  320px;
     
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        flex-direction: column;
     }
}