<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/dark.jpg" class="d-block w-100 imgc" alt="..">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/casa.jpg" class="d-block w-100 imgc" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/you.jpg" class="d-block w-100 imgc" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/stranger.jpg" class="d-block w-100 imgc" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="pelicard d-flex">
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/loscien.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">The 100</h5>
            <p class="card-text">Desde una agonizante estación espacial envían a cien jóvenes a la Tierra 97 años después de una guerra nuclear para comprobar si el planeta ya es habitable.</p>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/after.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Afeter</h5>
            <p class="card-text">Tessa Young llega a la universidad confiada en los valores familiares: novio de toda la vida y carrera segura. Entonces aparece Hardin Scott, el chico malo y seductor. Ve todo lo que quieras.</p>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/casa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">La casa de papel</h5>
            <p class="card-text">Ocho ladrones toman rehenes en la Fábrica Nacional de Moneda y Timbre de España, mientras el líder de la banda manipula a la policía para cumplir con su plan. Ve todo lo que quieras.</p>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/dark.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dark</h5>
            <p class="card-text">La desaparición de un niño lleva a cuatro familias a una frenética búsqueda, mientras descubren un misterio que abarca tres generaciones. Ve todo lo que quieras.</p>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/you.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">You</h5>
            <p class="card-text">Un joven profundamente obsesivo y peligrosamente seductor mueve cielo y tierra para instalarse en la vida de aquellas personas por quienes se siente cautivado.</p>
        </div>
    </div>
</div>
<div class="pelicard d-flex">
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/loscien.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">The 100</h5>
            <p class="card-text">Desde una agonizante estación espacial envían a cien jóvenes a la Tierra 97 años después de una guerra nuclear para comprobar si el planeta ya es habitable.</p>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/after.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Afeter</h5>
            <p class="card-text">Tessa Young llega a la universidad confiada en los valores familiares: novio de toda la vida y carrera segura. Entonces aparece Hardin Scott, el chico malo y seductor. Ve todo lo que quieras.</p>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/casa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">La casa de papel</h5>
            <p class="card-text">Ocho ladrones toman rehenes en la Fábrica Nacional de Moneda y Timbre de España, mientras el líder de la banda manipula a la policía para cumplir con su plan. Ve todo lo que quieras.</p>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/dark.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dark</h5>
            <p class="card-text">La desaparición de un niño lleva a cuatro familias a una frenética búsqueda, mientras descubren un misterio que abarca tres generaciones. Ve todo lo que quieras.</p>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="../../../assets/you.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">You</h5>
            <p class="card-text">Un joven profundamente obsesivo y peligrosamente seductor mueve cielo y tierra para instalarse en la vida de aquellas personas por quienes se siente cautivado.</p>
        </div>
    </div>
</div>