/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/netflix.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-attachment: fixed;
    background-color: black;
 
}